version: '3.8'

services:
  web:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./html:/usr/share/nginx/html:ro
    restart: always

  cache:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: always

volumes:
  web_data: